<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>SIGN LANGUAGE</title>

</head>
<body id="container">
    <div class="navbar">       
        <div class="col-lg-3 d-flex align-items-center">
            <div>
                <img src="/assets/img/SL.png" alt="" style="max-width: 100%;">
            </div>       
        </div>

        

        <div class="col-lg-1 d-flex justify-content-end align-items-center">
            
            <div id="theme" class="fas fa-moon"></div>
        </div>
    </div>

    <div class="popup" style="display: none;">
        <div class="popup-content">
            <h2>Hướng Dẫn Sử Dụng</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos praesentium error officiis ex quas id, beatae autem quibusdam, at iusto quos eum amet repellat vitae architecto animi quaerat deserunt veritatis.</p>
            <div class="popup-exit">
                <i class="fa-regular fa-circle-xmark"></i>
            </div>
                
            
        </div>
        
    </div>
    


    <!-- <div class="container"> -->
    <div class="videodetect">
        <div class="row">
            <div class="col-lg-7 d-flex" style="align-items: flex-start;">
                <!-- <video id="user-uploaded-video" autoplay style="width: 100%;display: none;"></video> -->
                
                <img  id="video-img"  src="{{ url_for('video_feed') }}" class="flipped-video" autoplay style="width: 100%">
            </div>  
            <div class="col-lg-5 d-flex flex-column align-items-center">
                <div class="d-flex" style="justify-content: center; margin-bottom: 10px; margin-left: 7px;">
                    <div class="button-container">
                        <a href="/">
                            <button class="home-button">
                                <i class="fa-solid fa-house"></i>
                                Home
                            </button>
                            
                        </a>
                            
                        
                        <button class="home-button">
                            <i class="fa-solid fa-book"></i>
                            Guide
                        </button>
                        <button class="home-button"  data-toggle="modal" data-target="#importModal">
                            <i class="fa-solid fa-folder"></i>
                            Import
                        </button>
                        <button id="clear-button" class="home-button" style="margin-right: 0px;">
                            <i class="fa-solid fa-broom-ball"></i>
                            Clean
                        </button>
                    </div>
                </div>
                <textarea readonly name="translate" id="result-textarea" cols="30" rows="25"></textarea>
            </div>      
        </div>
        <!-- <video id="video" class="flipped-video" autoplay style="width: 100%"></video> -->
        <!-- <img id="detect-img" src="assets/img/maxresdefault.jpg" style="width: 70%;" alt=""> -->
        <!-- <div id="result-frame">
        </div> -->
    </div>
    <!-- </div> -->


    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"  style="padding: 20px 20px;">
                    <h5 class="modal-title" id="importModalLabel"><span>Import Video</span></h5>
                </div>
                <div class="modal-body" style="padding: 0px 20px; font-size: 1.5rem; text-align: center;">
                    <!-- <input type="file" id="file-input" accept="video/*"> -->
                    <p>Tính năng này đang trong giai đoạn phát triển và sẽ cập nhật sau</p>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="import btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="import btn btn-primary" id="upload-button" style="margin-top: 0px;">Upload</button>
                </div> -->
            </div>
        </div>
    </div>
    
    
<script  src="assets/js/jquery-2.2.1.min.js"></script>
<script  src="assets/bootstrap/js/bootstrap.min.js"></script>
<script  src="assets/js/jquery.validate.min.js"></script>
<script  src="assets/js/jquery.magnific-popup.min.js"></script>
<script  src="assets/js/jquery.plugin.min.js"></script>
<script  src="assets/js/jquery.parallax.min.js"></script>
<script  src="assets/js/custom.js"></script>
<script  src="assets/js/designweb.js"></script>
<script  src="assets/js/detect.js"></script>
<script  src="assets/js/script.js"></script>
<script  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script  src="https://kit.fontawesome.com/6dfefe65c1.js" crossorigin="anonymous"></script>
<script  src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
