<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">



    <title>SIGN LANGUAGE</title>

    

</head>

<body >
<div class="page-wrapper">
    <header>
        <div class="navbarhome">
            <div class="col-lg-4 d-flex align-items-center">
                <div>
                    <img src="assets/img/SL.png" alt="" style="max-width: 80%;">
                </div>       
            </div>
                
            <div class="col-lg-8 d-flex justify-content-end align-items-end"  style="display: flex; justify-content: end;">
                <nav>
                    <ul class="navigation animate">
                        <li><a href="" data-toggle="modal" data-target="#modal-about-us">Project</a></li>
                        <li><a href="" data-toggle="modal" data-target="#modal-our-works">Team Members</a></li>
                        <li><a href="" data-toggle="modal" data-target="#modal-services">Development</a></li>
                        <li><a href="" data-toggle="modal" data-target="#modal-contact-us">Contact</a></li>
                    </ul>
                    <!--end navigation-->
                </nav>
            </div>

                <!-- <div class="col-lg-2 col-xl-7">
                    <div class="brand animate">
                        <div id="theme" class="fas fa-moon"></div>
                    </div>
                    
                </div> -->
            
        </div>
        
        
    </header>
    <div class="content-wrapper">
        <div class="content-main animate">
            <div class="container">
                <h1 class="font-size-90">Get Ready!</h1>
                <h2 class="opacity-60">Something Awesome is Coming Soon</h2>
                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                    <div  class="sectionbutton">                     
                            <a href="/detect">
                                <button >
                                    <i class="arrow_right"></i>
                                </button>
                            </a> 
                    </div>
                    
                    <!--end form-->
                </div>
                <!--end col-md-10-->
            </div>
            <!--end container-->
        </div>
        <!--end content-main-->
        <div class="background-wrapper">
            <div id="background-content">
                <!-- <img class="imgtest" src=".//web/static/img/Sign-Language.png" alt=""> -->
                <ul class="parallax" id="scene">
                    <li class="layer opacity-90" data-depth="0.80"><img src="assets/img/parallax-4.svg" alt=""></li>
                    <li class="layer opacity-90" data-depth="0.40"><img src="assets/img/parallax-2.svg" alt=""></li>
                    <li class="layer opacity-90" data-depth="0.20"><img src="assets/img/parallax-1.svg" alt=""></li>
                </ul>
            </div>
            
        </div>
        <!--end background-wrapper-->
    </div>
    <!--end content-wrapper-->
    <!-- <footer>
        <div class="social-icons animate">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
      
    </footer> -->
</div>
<!--end page-wrapper-->

<!-- Modal About Us -->
<div class="modal fade" id="modal-about-us" tabindex="-1" role="dialog" aria-labelledby="modal-about-us-label">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header" data-background-color="#61dfff">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modal-about-us-label">Our Project</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <section>
                                <h3>Problem</h3>
                                <p>Voice-enabled assistants offer a range of useful features, including automated speech recognition (ASR) and machine translation. However, these technologies are often inaccessible to the over 70 million Deaf people worldwide who use sign language, and the 1.5+ billion people globally affected by hearing loss.
                                </p>
                                <p>
                                    Fingerspelling, a component of sign language that uses hand shapes to represent letters, is often faster than typing on a smartphone. Despite this, sign language recognition AI for text entry is behind voice-to-text or gesture-based typing due to the lack of robust datasets.
                                </p>
                            </section>
                            <section>
                                <h3>Solve</h3>
                                <!-- <div class="skill">
                                    <h4>Webdesign</h4>
                                    <aside>80%</aside>
                                    <figure class="bar">
                                        <div class="bar-active width-80"></div>
                                        <div class="bar-background"></div>
                                    </figure>
                                </div>
                               
                                <div class="skill">
                                    <h4>Photography</h4>
                                    <aside>100%</aside>
                                    <figure class="bar">
                                        <div class="bar-active width-100"></div>
                                        <div class="bar-background"></div>
                                    </figure>
                                </div>
                               
                                <div class="skill">
                                    <h4>Marketing</h4>
                                    <aside>60%</aside>
                                    <figure class="bar">
                                        <div class="bar-active width-60"></div>
                                        <div class="bar-background"></div>
                                    </figure>
                                </div> -->
                               <p>We propose a novel deep learning model to solve the problem of sign language recognition. Our model uses mediapipe and transformer to extract and encode the hand gestures and facial expressions of the signers. We then use a decoder to generate the corresponding spoken language text. We evaluate our model on several sign language datasets and show that it achieves state-of-the-art performance. Our model is written in English and can be easily adapted to other languages.</p>
                            </section>
                        </div>
                        <!--end col-md-7-->
                        <div class="col-md-5 col-sm-5">
                            <section>
                                <h3>Target</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="person">
                                            <div class="image">
                                                <div class="bg-transfer"><img src="assets/img/person-01.jpg" alt=""></div>
                                            </div>
                                            <h4>Translate</h4>
                                            <h5>For deaf mute</h5>
                                            
                                        </div>
                                        <!--end person-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="person">
                                            <div class="image">
                                                <div class="bg-transfer"><img src="assets/img/person-02.jpg" alt=""></div>
                                            </div>
                                            <h4>Website</h4>
                                            <h5>Application</h5>
                                            
                                        </div>
                                        <!--end person-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->
                            </section>
                        </div>
                        <!--end col-md-4-->
                        
                    </div>
                    <!--end row-->
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end container-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end #modal-about-us-->

<!-- Modal Our Works -->
<div class="modal fade" id="modal-our-works" tabindex="-1" role="dialog" aria-labelledby="modal-our-works-label">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header" data-background-color="#8dff8b">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modal-our-works-label">Team Member</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <a href="https://www.facebook.com/phanhuynhthanhbinh/" target="_blank" class="work">
                                <div class="description">
                                    <h4>Nguyễn Sơn Tùng</h4>
                                    <h5>Model</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src="assets/img/tung_ng.jpg" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href="https://www.facebook.com/phanhuynhthanhbinh/" target="_blank" class="work">
                                <div class="description">
                                    <h4>Vũ Hoàng Sơn Hải</h4>
                                    <h5>Model</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src="assets/img/coursera.png" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href="https://www.facebook.com/phanhuynhthanhbinh/" target="_blank" class="work">
                                <div class="description">
                                    <h4>Phan Huỳnh Thanh Bình</h4>
                                    <h5>Web design</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src="assets/img/binh_andrew.JPG" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href="https://www.facebook.com/phanhuynhthanhbinh/" target="_blank" class="work">
                                <div class="description">
                                    <h4>Phạm Đức Hồng Đức</h4>
                                    <h5>Data</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src="assets/img/binh_andrew.JPG" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href="https://www.facebook.com/phanhuynhthanhbinh/" target="_blank" class="work">
                                <div class="description">
                                    <h4>Đàm Nguyễn Quỳnh Hoa</h4>
                                    <h5>Data & Model</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src="assets/img/binh_andrew.JPG" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href="https://www.facebook.com/phanhuynhthanhbinh/" target="_blank" class="work">
                                <div class="description">
                                    <h4>Hoàng Thanh Lâm</h4>
                                    <h5>Data</h5>
                                </div>
                                <!--end description-->
                                <div class="image">
                                    <div class="bg-transfer"><img src="assets/img/binh_andrew.JPG" alt=""></div>
                                </div>
                            </a>
                            <!--end work-->
                        </div>
                        <!--end col-md-4-->
                    </div>
                    <!--end row-->
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end container-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end #modal-our-works-->

<!-- Modal Services -->
<div class="modal fade" id="modal-services" tabindex="-1" role="dialog" aria-labelledby="modal-services-label">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header" data-background-color="#ff6767">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modal-services-label">Strategies</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src="assets/img/camera.png" alt="">
                                </div>
                                <h3>Planing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src="assets/img/camera.png" alt="">
                                </div>
                                <h3>Data Collection</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src="assets/img/camera.png" alt="">
                                </div>
                                <h3>Data Processing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src="assets/img/camera.png" alt="">
                                </div>
                                <h3>Modeling</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src="assets/img/camera.png" alt="">
                                </div>
                                <h3>Evaluation</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box">
                                <div class="icon">
                                    <img src="assets/img/camera.png" alt="">
                                </div>
                                <h3>Deploy Application</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
                            </div>
                            <!--end box-->
                        </div>
                        <!--end col-md-4-->
                    </div>
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end container-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end #modal-services-->

<!-- Modal Contact Us -->
<div class="modal fade" id="modal-contact-us" tabindex="-1" role="dialog" aria-labelledby="modal-contact-us-label">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header" data-background-color="#ffe858">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modal-contact-us-label">Services</h2>
                </div>
                <div id="map"></div>
                <div class="modal-body">
                    <section>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <h3>Address</h3>
                                <address>
                                    4758 Nancy Street<br>
                                    +1 919-571-2528<br>
                                    <a href="mailto:hello@example.com">hello@example.com</a>
                                </address>
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-3">
                                <h3>Social</h3>
                                <figure><a href="" class="icon"><i class="fa fa-facebook"></i>Facebook</a></figure>
                                <figure><a href="" class="icon"><i class="fa fa-twitter"></i>Twitter</a></figure>
                                <figure><a href="" class="icon"><i class="fa fa-youtube"></i>Youtube</a></figure>
                                <figure><a href="" class="icon"><i class="fa fa-pinterest"></i>Pinterest</a></figure>
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-6 col-sm-6">
                                <h3>Contact Form</h3>
                                <form id="form-contact" method="post" class="form clearfix inputs-underline">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="form-contact-name" name="name" placeholder="Your Name" required>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="form-contact-email" name="email" placeholder="Your Email" required>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                    </div>
                                    <!--end row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" id="form-contact-message" rows="5" name="message" placeholder="Your Message" required></textarea>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-12 -->
                                    </div>
                                    <!--end row -->
                                    <div class="form-group clearfix">
                                        <button type="submit" class="btn pull-right btn-default btn-framed btn-rounded" id="form-contact-submit">Send a Message</button>
                                    </div>
                                    <!--end form-group -->
                                    <div class="form-contact-status"></div>
                                </form>
                                <!--end form-contact -->
                            </div>
                            <!--end col-md-6-->
                        </div>
                    </section>
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end container-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end #modal-contact-us-->


<script  src="assets/js/jquery-2.2.1.min.js"></script>
<script  src="assets/bootstrap/js/bootstrap.min.js"></script>
<script  src="assets/js/jquery.validate.min.js"></script>
<script  src="assets/js/jquery.magnific-popup.min.js"></script>
<script  src="assets/js/jquery.plugin.min.js"></script>
<script  src="assets/js/jquery.parallax.min.js"></script>
<script  src="assets/js/custom.js"></script>
<script  src="assets/js/main.js"></script>
<script  src="assets/js/designweb.js"></script>
<script>

    $('#scene').parallax({
        calibrateX: true,
        calibrateY: true,
        originX: -1.0,
        scalarX: 1400
    });
</script>
</body>
